@model InventorySolution.Models.TipModel

@{
    ViewBag.Title = "TipEditor";
}

<div class="tip row list-group-item">
    <div class="col-md-3">
        <div class="col-sm-2 tip-id">
            @string.Format("#{0}", Model.TipId)
        </div>
        <div class="col-sm-10">
            <span class="editable editable-click tip-body"
           id="@string.Format("tip_{0}", Model.TipId)"
           data-type="text"
           data-title="Introduceti numele tipului"
           data-pk="@Model.TipId"
           data-value="@Model.Nume">@Model.Nume</span>
        </div>
    </div>
    <div class="col-md-2">
        <a href="#" style="float: left" class="edit-tip-button btn-sm btn-default input-sm">
            <i class="glyphicon glyphicon-pencil"></i>
        </a>
        <a data-href="@Url.Action("Delete", "Tipuri", new {id = Model.TipId})" style="float: left" class="btn btn-sm btn-danger input-sm" data-toggle="modal" data-target="#confirm-delete">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
</div>
