@model InventorySolution.Models.CalculatorModel


<div class="row" id="calculator-edit">
    <!-- calculatoare -->
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(m => m.Procesor)
            </div>
            <div class="col-md-4">
                @Model.Procesor
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m.Frecventa)
            </div>
            <div class="col-md-4">
                @Model.Frecventa
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(m => m.Hdd)
            </div>
            <div class="col-md-4">
                @Model.Hdd
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m.Ram)
            </div>
            <div class="col-md-4">
                @Model.Ram
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(m => m.CdRom)
            </div>
            <div class="col-md-4">
                @Model.CdRom
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m.Floppy)
            </div>
            <div class="col-md-4">
                @Model.Floppy
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(m => m.Zipp)
            </div>
            <div class="col-md-4">
                @Model.Zipp
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m.Monitor)
            </div>
            <div class="col-md-4">
                @Model.Monitor
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(m => m.Tastatura)
            </div>
            <div class="col-md-4">
                @Model.Tastatura
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m.Mouse)
            </div>
            <div class="col-md-4">
                @Model.Mouse
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(m => m.PlacaBaza)
            </div>
            <div class="col-md-4">
                @Model.PlacaBaza
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m.PlacaVideo)
            </div>
            <div class="col-md-4">
                @Model.PlacaVideo
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(m => m.CdW)
            </div>
            <div class="col-md-4">
                @Model.CdW
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m.Dvd)
            </div>
            <div class="col-md-4">
                @Model.Dvd
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(m => m.PlacaRetea)
            </div>
            <div class="col-md-4">
                @Model.PlacaRetea
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m.TvTuner)
            </div>
            <div class="col-md-4">
                @Model.TvTuner
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(m => m.Modem)
            </div>
            <div class="col-md-4">
                @Model.Modem
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m.Accesorii)
            </div>
            <div class="col-md-4">
                @Model.Accesorii
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(m => m.Mentiuni)
            </div>
            <div class="col-md-10">
                @Model.Mentiuni
            </div>
        </div>
    </div>
</div>