@model InventorySolution.Models.LaboratorModel

@{
    ViewBag.Title = "LaboratorEditor";
}
<div class="sursa row list-group-item">
    <div class="col-md-3">
        <div class="col-sm-2 sursa-id">
            @string.Format("#{0}", Model.LaboratorId)
        </div>
        <div class="col-sm-10">
            <span class="editable editable-click sursa-body"
           id="@string.Format("sursa_{0}", Model.LaboratorId)"
           data-type="text"
           data-title="Introduceti numele sursei"
           data-pk="@Model.LaboratorId"
           data-value="@Model.Nume">@Model.Nume</span>
        </div>
    </div>
    <div class="col-md-2">
        <a href="#" style="float: left" class="edit-sursa-button btn-sm btn-default input-sm">
            <i class="glyphicon glyphicon-pencil"></i>
        </a>
        <a data-href="@Url.Action("Delete", "Surse", new {id = Model.LaboratorId})" style="float: left" class="btn btn-sm btn-danger input-sm" data-toggle="modal" data-target="#confirm-delete">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
</div>
<h2>LaboratorEditor</h2>
